<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <style>
      p {
          font-size: 16px;
      }
      p.unsubscribe {
          font-size: 12px !important;
          font-style: italic;
      }
  </style>
</head>
<body>
<h1>Ваш отчет об остатках</h1>
<p>Уважаемый получатель,</p>
<p>Прилагается файл отчета об остатках.</p>
<p>Вы также можете посетить наш сайт по адресу <a href="https://tot.biz.ua/">ТОВ "Технооптторг - Трейд"</a></p>
<h5>С уважением,</h5>
<h5>ТОВ "Технооптторг - Трейд"</h5>
<br>
<p><%= "="*50 %></p>
<p class="unsubscribe" >
  Если вы хотите отписаться от рассылки, пожалуйста, посетите <a href="<%= unsubscribe_url %>">страницу</a>.
</p>
</body>
</html>


